@page
@model TagHelpersRazo.Pages.CustomTagModel
@{
    ViewData["Title"] = "CustomTag";
    var aprovado = false;
}

<h2>Personalizado</h2>

<div Condition="aprovado">
    usted ha sido aprobado :)
</div>
<div Condition="!aprovado">
    Usted ha sido rechazado :(
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

